@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Noto Sans KR", sans-serif;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  font-family: "Noto Sans KR", sans-serif;
}

a {
    color: inherit !important;
    text-decoration: none !important;
}

.footer {
    width: 100%;
    height: 340px;
    background-color: #EAEAEA;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 250px;
}

.social-networks {
    font-size: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    font-weight: 400;
}

.social-networks .img {
    margin-right: 20px;
    cursor: pointer;
}

.social-networks .img:hover {
    color: rgb(96, 96, 96);
}

.links {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

}

.links ul {
    margin-right: 150px;
}

.links ul div {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 25px;
}

.links ul li {
    font-size: 16px;
    margin-bottom: 15px;
    cursor: pointer;
}

.links ul li:hover {
    color: gray;
    font-size: 700;
}

.copyright {
    font-weight: 500;
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .footer {
        height: auto;
        padding: 50px;
    }
    
    .social-networks {
        font-size: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: 1px solid black;
        font-weight: 400;
    }

    .social-networks span {
        margin-bottom: 20px;
    }
    
    .social-networks .img {
        margin-right: 18px;
    }
    
    .social-networks .img:hover {
        color: rgb(96, 96, 96);
    }
    
    .links {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 20px;
    }
    
    .links ul {
        margin-right: 0;
        margin-bottom: 40px;
    }
    
    .links ul div {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 18px;
    }
    
    .links ul li {
        font-size: 12px;
        margin-bottom: 10px;
        cursor: pointer;
    }
    
    .links ul li:hover {
        color: gray;
        font-size: 700;
    }
    
    .copyright {
        font-weight: 500;
        font-size: 10px;
    }

}