.admin-page {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 120px 0 120px;
    font-family: "Noto Sans KR", sans-serif;
}
.admin-wrapper {
    width: 100%;
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
}
.admin-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}
.admin-title h1 {
    font-size: 52px;
    font-weight: bold;
    color: #23286b;
}
.admin-title p {
    font-size: 24px;
    line-height: 28px;
}
.admin-contents {
    width: 100%;
    height: 100%;
    margin-top: 60px;
}
.admin-contents ul {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-items: flex-start;
}
.admin-contents li {
    width: 300px;
    height: 300px;
    background: #eaeaea;
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto 20px auto;
}

@media (max-width: 768px) {
    .admin-contents ul {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-between;
        align-items: center;
    }
}
