.sidebar{
    width: 80%;
    height: 100vh;
    background-color: #EAF2FF;
    position: absolute;
    top: 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    transition: all 1.2s;
}
.sidebar.closed{
    margin-left: -75%;
}

.sidebar-wrapper{
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.sidebar-wrapper-area{
    flex-flow: column;
    text-align: center;
    font-size: 50px;
}

.sidebar-title{
    font-weight: bold;
    color: #23286B;
}

.sidebar-arrow{
    width: 50px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sidebar-arrow.left {
    transform: rotate(0);
}

.sidebar-arrow.right {
    background-color: #60584F;
    transform: rotate(180deg);
}