
.favorite-list-modal{
 position: fixed;
 width: 100vw;
 height: 100vh;
 left: 0;
 top: 0;
 background-color: rgba(0, 0, 0, 0.226);
 z-index: 100;
}
.favorite-list-modal .favorite-list-inner{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: auto;
    max-height: 80vh;
    padding: 30px;
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px #00000022;

}
.favorite-list-modal .header-bookmark{
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: bold;
}
.favorite-list-modal .btn-close{
    position: absolute;
    right: 30px;
    top: 30px;
}
.favorite-list-modal .header-bookmark-contents{
    flex-wrap: wrap;
}
.favorite-list-modal .header-bookmark-contents,
.favorite-list-modal .header-bookmark-contents li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.favorite-list-modal .header-bookmark-contents li{
    padding: 10px;
    background-color: aliceblue;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  
}